/* nav bar*/
body{
    background-color:rgb(255, 244, 230);
}
html{
    font-size: 62.5%;
}
.navbar{
    background-color: bisque;
    color: black;
    border:.2rem solid black;
    border-radius: 1.0rem;
    padding:.6rem;
}
.btngrp{
    border:.2rem solid black;
    margin:1.0rem 8.0rem;
    padding: 1.0rem;
    font-size: 1.5 rem;
    width:10.0rem;
    border-radius: 3.0rem;
    color: black;
    background-color: rgb(255, 255, 117);
}
.btngrp:hover{
    border: .2rem solid rgb(255, 255, 117);
    color: rgb(255, 255, 117);
    background-color: black;
}
/*res items*/
.container{
    margin:2.7rem;
    padding: 1.7rem;
}
.menucards{
    color: black;
    display: inline-block;
    width:33.3%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.item{
    overflow:inherit;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    border: .2rem solid black;
    background-color:bisque ;
    border-radius: 5.0rem;
    padding: 3.2rem;
    margin: 2.8rem;
    height:40.0rem;
}
.item-number{
    float: left;
    font-size:2.0rem;
    padding: 1.0rem;
}
.cat{
    font-size: 2.0rem;
    color: black;
}
.item-name{
    font-size: 3.0rem;
    border: .2rem solid black;
    width:45%;
    border-radius: .3rem;
    text-align: center;
    margin: 2.0rem;
}
.item-img{
    height: 20.0rem;
    width: 20.0rem;
}
.item-price{
    font-size: 2.7rem;
    margin:1.0rem
}
.pricebtn{
    display: flex;
    flex-direction: column;
    margin:.5rem;
    padding: .5rem;
}
.btn{
    float:right;
    width:11.5rem;
    margin:.3rem;
    height: inherit;
    border: .2rem solid black;
    border-radius: .20rem;
    color:black;
    background-color:aliceblue;
}
.btn:hover{
    color:aliceblue;
    background-color:black;
    border:.2rem solid aliceblue;
}
/* media queiries */
@media (max-width:1380px){
    html{
        font-size: 60%;
    }
}
@media (max-width:1060px){
    html{
        font-size: 55%;
    }
}
@media (max-width:1006px){
    html{
        font-size: 50%;
    }
}
@media (max-width:882px){
    html{
        font-size: 45%;
    }
}
@media (max-width:795px){
    html{
        font-size: 40%;
    }
}
@media (max-width:420px){
    html{
        font-size: 35%;
    }
}
@media (max-width:320px){
    html{
        font-size: 30%;
    }
}